*{
    font-family: Roboto;

}
.side-bar{
    width: 30%;
    height: 100vh;
    margin-left: 20px;
    margin-right: 0px;
}

.heading{
    color: black;
    font-size: 35px;
    font-weight: 500;
  
    letter-spacing: 0.7px;
}


.create-note-button{
    border-radius: 50px;
    color: white;
    background-color: black;
    width: 317px;
    height: 41px;
    
    font-size: 24px;
    font-weight: 500;
    
    letter-spacing: 0.47px;
    margin-left: 20px;
    cursor: pointer;
  margin-bottom: 20px;
}

.GroupList{
    overflow-y: auto;
}

.groupIcon {
    margin-left: 10px;
    width: 68px;
    height: 68px;
   
    border-radius: 50px;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .groupItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .groupItem.selected {
    border-radius: 22px 0px 0px 22px;
    background-color: #f7ecdc;
  }
  .groupItem:hover {
    border-radius: 22px 0px 0px 22px;
    background-color: #f7ecdc;
  }
  
  .groupName {
    font-weight: bold;
    letter-spacing: 0.48px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .Notes-area-container{
    background-color: #f7ecdc;
    width: 100vw;
    height: 100vh;
    
  }

  .notes-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  .notes-area-heading{
    font-size: 40px;
    
    font-weight: 400;
    
    letter-spacing: 1px;
    margin-top: 2px;
    margin-bottom: 7px;
  }

  .notes-area-description{
    color: #292929;
    margin-top: 0;
    text-align: center;
   
    font-size: 20px;
    
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.44px;
  }

  .footer{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 32%;
    
    letter-spacing: 0.02em;
  }

  
.sidebarContainerMobile {
  width: 100%;
  height: fit-content;
}

.CreateButtonMobile {
  height: 41px;
  width: inherit;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 97%;
  letter-spacing: 0.54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.headingMobile {
  color: #000;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.63px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
